<div class="lista-compras">
  <input type="text" #novoItem (keyup.enter)="adicionarItem(novoItem.value); novoItem.value=''" placeholder="Adicionar item..."/>
  <h2>Não Comprados</h2>
  <div *ngFor="let item of itens">
    <app-item-compras *ngIf="!item.comprado" [item]="item" (itemExcluido)="loadItens()"></app-item-compras>
  </div>
  <h2>Comprados</h2>
  <div *ngFor="let item of itens">
    <app-item-compras *ngIf="item.comprado" [item]="item" (itemExcluido)="loadItens()"></app-item-compras>
  </div>
</div>






